<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>ola mundo k ase</h1>
	<div class="container">
		<div class="row">
			<table>
				<tbody>
					<tr>
						<th>ID</th>
						<th>Usuario</th>
						<th>Email</th>
						<th>Contraseña</th>
					</tr>
					<% if(flash) { %>
						<p class="flash">
							<%= flash.message %>
						</p>
					<%}%>
					<tr>
						<th><%= user.id %></th>
						<th><%= user.username %></th>
						<th><%= user.email %></th>
						<th><%= user.password %></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<a href="/logout">Cerrar Sesión</a>
</body>
</html>